<%= form_for(service) do |f| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :account_auxiliar_id %>
    <%= f.text_field :auxiliar, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :cost_centre_id %>
    <%= f.text_field :cost_centre_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :taxable_income %>
    <%= f.number_field :taxable_income, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :account_IVA_id %>
    <%= f.text_field :account_IVA_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :account_withholding_tax_id %>
    <%= f.text_field :account_withholding_tax_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :account_withholding_tax_ICA_id %>
    <%= f.text_field :account_withholding_tax_ICA_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
