<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path]]%>
<h1>Servicios</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cuenta auxiliar</th>
      <th>Centro de costos</th>
      <th>Ingreso gravable</th>
      <th>Cuenta IVA</th>
      <th>Cuenta retencion en la fuente</th>
      <th>Cuenta retencion en la fuente ICA</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.auxiliar.number %></td>
        <td><%= service.cost_centre.name %></td>
        <td><%= service.taxable_income %></td>
        <td><%= service.account_IVA.number %></td>
        <td><%= service.account_withholding_tax.number %></td>
        <td><%= service.account_withholding_tax_ICA.number %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo servicio', new_service_path %>
