<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path]]%>
<h1>Terceros</h1>

<table class="table-hover table">
  <thead class="">
    <tr class="row">
      <th class="col-sm-1">Tipo de documento</th>
      <th>Número de documento</th>
      <th class="col-sm-1">Digito de verificación</th>
      <th>Primer nombre</th>
      <th>Otros nombres</th>
      <th>Apellido</th>
      <th>Segundo Apellido</th>
      <th>Razón social</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr class="row">
        <td class="col-sm-1"><%= person.document_type.abbreviation %></td>
        <td><%= person.document_number %></td>
        <td class="col-sm-1"><%= person.verification_digit %></td>
        <td><%= person.first_name %></td>
        <td><%= person.middle_name %></td>
        <td><%= person.surname %></td>
        <td><%= person.second_surname %></td>
        <td><%= person.business_name %></td>
        <td><%= person.email %></td>
        <td><%= link_to 'Ver', person %></td>
        <td><%= link_to 'Editar', edit_person_path(person) %></td>
        <td><%= link_to 'Borrar', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear tercero', new_person_path %>
