<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de documento:</strong>
  <%= @person.document_type.abbreviation %>
</p>

<p>
  <strong>Número de documento:</strong>
  <%= @person.document_number %>
</p>

<p>
  <strong>Digito de verificación:</strong>
  <%= @person.verification_digit %>
</p>

<p>
  <strong>Primer nombre:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Otros nombres:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @person.surname %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @person.second_surname %>
</p>

<p>
  <strong>Razón social:</strong>
  <%= @person.business_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<%= link_to 'Editar', edit_person_path(@person) %> |
<%= link_to 'Volver', people_path %>
