<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path],['Settings',settings_path]]%>
<h1>Cost Centres</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cost_centres.each do |cost_centre| %>
      <tr>
        <td><%= cost_centre.name %></td>
        <td><%= link_to 'Show', cost_centre %></td>
        <td><%= link_to 'Edit', edit_cost_centre_path(cost_centre) %></td>
        <td><%= link_to 'Destroy', cost_centre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cost Centre', new_cost_centre_path %>


<%= form_tag import_cost_centres_path, multipart: true, class: 'form-inline' do %>
    <div class="form-group">
      <%= link_to "Export CSV", cost_centres_path(format: "csv"), class: 'btn btn-primary' %>
    </div>
    <div class="form-group">
      <%= file_field_tag :file, class: '' %>
    </div>

    <div class="form-group">
      <%= submit_tag "Import CSV", class: 'btn btn-info' %>
    </div>
<% end %>

