<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @clase.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @clase.name %>
</p>

<%= link_to 'Edit', edit_clase_path(@clase) %> |
<%= link_to 'Back', clases_path %>
