<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Countries',countries_path],[@state.country.name,country_path(@state.country)]]%>
<p>
  <strong>Country:</strong>
  <%= @state.country.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @state.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', country_path(@country) %>

<%= render 'cities/index' %>