<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @grupo.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grupo.name %>
</p>

<p>
  <strong>Clase:</strong>
  <%= @grupo.clase.number %>
</p>

<%= link_to 'Edit', edit_grupo_path(@grupo) %> |

