<p id="notice"><%= notice %></p>

<h1>Document Types</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Abbreviation</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_types.each do |document_type| %>
      <tr>
        <td><%= document_type.abbreviation %></td>
        <td><%= document_type.name %></td>
        <td><%= link_to 'Show', document_type %></td>
        <td><%= link_to 'Edit', edit_document_type_path(document_type) %></td>
        <td><%= link_to 'Destroy', document_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document Type', new_document_type_path %>
