<p id="notice"><%= notice %></p>

<p>
  <strong>Abreviatura:</strong>
  <%= @document_type.abbreviation %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @document_type.name %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @document_type.code %>
</p>

<%= link_to 'Editar', edit_document_type_path(@document_type) %> |
<%= link_to 'Volver', document_types_path %>
