<p id="notice"><%= notice %></p>

<h1>Auxiliars</h1>

<table>
  <thead>
    <tr>
      <th>Subaccount</th>
      <th>Number</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auxiliars.each do |auxiliar| %>
      <tr>
        <td><%= auxiliar.subaccount %></td>
        <td><%= auxiliar.number %></td>
        <td><%= auxiliar.name %></td>
        <td><%= link_to 'Show', auxiliar %></td>
        <td><%= link_to 'Edit', edit_auxiliar_path(auxiliar) %></td>
        <td><%= link_to 'Destroy', auxiliar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auxiliar', new_auxiliar_path %>
