<p id="notice"><%= notice %></p>

<p>
  <strong>Subaccount:</strong>
  <%= @auxiliar.subaccount %>
</p>

<p>
  <strong>Number:</strong>
  <%= @auxiliar.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @auxiliar.name %>
</p>

<%= link_to 'Edit', edit_auxiliar_path(@auxiliar) %> |
<%= link_to 'Back', auxiliars_path %>
