<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path]]%>
<h1>Phone Numbers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Number type</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_numbers.each do |phone_number| %>
      <tr>
        <td><%= phone_number.number_type %></td>
        <td><%= phone_number.number %></td>
        <td><%= link_to 'Show', person_phone_number_path(person) %></td>
        <td><%= link_to 'Edit', edit_person_phone_number_path(person,phone_number) %></td>
        <td><%= link_to 'Destroy', person_phone_number_path(person,phone_number), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phone Number', new_person_phone_number_path(person) %>
