<p id="notice"><%= notice %></p>

<h1>Cuenta</h1>

<table>
  <thead>
    <tr>
      <th>References</th>
      <th>Number</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuenta.each do |cuentum| %>
      <tr>
        <td><%= cuentum.references %></td>
        <td><%= cuentum.number %></td>
        <td><%= cuentum.name %></td>
        <td><%= link_to 'Show', cuentum %></td>
        <td><%= link_to 'Edit', edit_cuentum_path(cuentum) %></td>
        <td><%= link_to 'Destroy', cuentum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cuentum', new_cuentum_path %>
