<p id="notice"><%= notice %></p>
<p>
  <strong>Code:</strong>
  <%= @city.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', state_path(@city.state) %>
